
.idea/

constants/__pycache__/

*.pyc

core/game/mechanics/__pycache__/

.pycrunch-config.yaml

setup.py

venv/
logs/AnimationLoader.log

logs/SoundLoader.log

playing_with_tree.py
